.container {
  width: 100%;
  height: 5px;

  box-sizing: border-box;

  display: flex;
  align-items: center;
  justify-content: center;

  .line {
    width: 100%;
    height: 1px;

    background-color: gray;
    box-sizing: border-box;
  }

  &.light {
    .line {
      width: 100%;
      opacity: .2;
    }
  }
}