.content {
  width: 100%;
  box-sizing: border-box;

  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;

  row-gap: 10px;

  .group {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;

    row-gap: 10px;

    .label {
      font-size: 14px;

      &.disabled {
        opacity: .5;
      }
    }
  }
}