.container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  row-gap: 10px;

  overflow-y: auto;

  height: 100%;
  width: 100%;
  box-sizing: border-box;
}