.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 20px;

  height: 100%;
  width: 100%;

  padding: 20px;
  box-sizing: border-box;

  .title {
    width: 100%;
    text-align: left;
  }
}